body {
  margin: 0;
  background-color: "#381D2A";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-steps-item-description {
  max-width: 300px !important;
}

.ant-page-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ant-avatar-lg {
  line-height: 32px !important;
}
